body {
  align-items: center;
  background-color: #4f4f4f;
  display: flex;
  justify-content: center;
}

img {
  margin-top: 15px;
  width: 100px;
}

.box {
  background: white;
  border-radius: 22px;
  margin-top: 50px;
  text-align: center;
  height: 528px;
  width: 438px;
}

.label {
  display: block;
}

.input {
  background: #2ec18b;
  border: none;
  border-radius: 9px;
  margin-top: 30px;
  font-size: 15px;
  text-align: center;
  text-decoration: #036b52;
  height: 47px;
  width: 299px;
}

.button {
  background: #2ec18b;
  border: solid;
  border-radius: 18px;
  height: 63px;
  width: 231px;
  font-size: 15px;
  margin-top: 25px;
  text-align: center;
}

.title {
  color: #036b52;
  font-family: inherit;
}
